@font-face {
    font-family: NotoSansHant-Thin;
    src: url(NotoSansHant-Thin.otf);
}

html, body {
    height: 100%;
    background-image: linear-gradient( -30deg, rgb(165, 193, 166), rgb(15, 57, 52));
    color: rgb(230, 230, 230);
    font-family: 'Raleway', sans-serif, NotoSansHant-Thin;
}

.centerTitle {
    position:absolute; width:40%; height:250px;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    text-align: center;
}
